DB_USER=postgres
DB_NAME=timonypumba
DB_PASSWORD=123456

# generado por: openssl rand -base64 32
AUTH_SECRET='reemplazar-por-un-secreto-generado'

# https://console.cloudinary.com -> Dashboard -> API Environment variable
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>

DATABASE_URL="postgresql://postgres:123456@localhost:5432/timonypumba?schema=public"
